<center>
    {% extends "base.html" %}
    {% block content %}
        {% for task in page %}
            <div>
            {% if user.is_authenticated %}
                <a href="{% url "trainer:logout" %}">Выйти</a>
            {% endif %}
            </div>
            <h2>{{ task.name }}</h2>
            <h4 style="color: #666666; width: 500px">{{ task.text|linebreaks }}</h4>
            <h2>Задание:</h2>
            <h4 style="color: #666666; width: 500px">{{ task.task|linebreaks }}</h4>
            {% if result %}
                {% if result.status %}
                    <h4 style="color: limegreen; width: 500px">{{ result.title|linebreaks }}</h4>
                {% else %}
                    <h4 style="color: red; width: 500px">{{ result.title|linebreaks }}</h4>
                    {%  for message in result.message %}
                        <h4 style="color: lightpink; width: 500px">{{ message|linebreaks }}</h4>
                    {% endfor %}
                {% endif %}
            {% endif %}
            {% include 'includes/resolve.html' with form=form task=task %}
        {% endfor %}
        {% include 'includes/paginator.html' with items=page paginator=paginator %}
    {% endblock %}
</center>